@import url('https://fonts.googleapis.com/css?family=Francois+One|Ribeye+Marrow|Roboto|Rubik');
@import url('https://fonts.googleapis.com/css?family=Baumans');
/* *{
  outline: 1px red solid;
  font-family: 'Roboto', sans-serif;
} */

body {
  margin: 0;
  font: 16px/1 sans-serif;
  background-color: #5AC683;
}

menu ul{
  margin: 0;
  padding: 0; 
  background-color: #BCCDC2;
  height: 100%;
}
menu li, li {
  display: inline-block;
  padding: 0px;
  margin: 25px 0px 25px 0px;
  height: 100%;
}

a:link, a:active, a:hover{
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0px solid #000000;
  width: 100%;
  height: 100%;
}

img{
  border-radius: 27px 27px 27px 27px;
  -moz-border-radius: 27px 27px 27px 27px;
  -webkit-border-radius: 27px 27px 27px 27px;
  border: 0px solid #000000;
}

header {
  padding-top: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(94, 88, 80);
  border-radius: 15px 15px 0px 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  height: 100%;
}

menu {
  background-color: rgba(188, 205, 194, 0);
  padding: 0px;
  margin: 5px;
  font-family: 'Baumans', cursive;
  width: 100%;
}

/* .main-content{

} */

#root{
  margin: 5% 10% 5% 10%;
  border-radius: 19px 19px 19px 19px;
  -moz-border-radius: 19px 19px 19px 19px;
  -webkit-border-radius: 19px 19px 19px 19px;
  background-color: white;
} 

dt a{
  width: 100%;
  color: #000000;
  margin-left:1em;
  margin-right:1em;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor:pointer;
  border-color:rgba(0,0,0,.1);
  text-decoration:none;
  font-weight:0.1em;
  font-family: 'Baumans', cursive;
  background-color: rgba(188, 205, 194, 0.38);
}

.main-content{
  margin: 10px 10px 10px 30px;
  padding-bottom: 80px;
}

p{
  padding: 10px;
  color: grey;
  font-family: 'Baumans', cursive;
}

h2,h3{
  margin-right: 30px;
  color: #121A35;
  font-weight:1.6em;
  margin-bottom:1.25em;
  text-shadow: -2px -2px 2px rgba(170, 170, 170, 0.26);
  font-family: 'Ribeye Marrow', cursive;
}

.icon{
  padding-top: 20px;
  color: white;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) and (min-width: 520px) {
  .img{
    width: 20%;
  }
}